@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
* {
    font-family: 'Poppins' sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
:root {
    --background-color: #000000;
    --main-color: #000fde;
    --text-color: #ffffff;
    --hover-color: #f1ebea;
}
body {
    background: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}
.sidebar {
    background: var(--main-color);
    height: 100%;
    width: 450px;
    float: right;
    margin-top: -70px;
    padding-left: 50px;
    padding-bottom: 30px;

}
.navbar {
	display: flex;
	column-gap: 5rem;
}
.navbar li {
	position: relative;
    text-decoration: none;
    margin-top: 10px;
    list-style-type: none;
}
.navbar a {
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-color);
    text-decoration: none;
    opacity: 1;
}
.navbar a:hover {
    color: var(--hover-color);
}
.navbar a::after {
	content: '';
	width: 0;
	height: 2px;
	background: var(--text-color);
	position: absolute;
	bottom: -4px;
	left: 0;
	transition: 0.4s all linear;
    color: var(--hover-color);
}
.navbar a:hover:after {
    background: var(--hover-color);
}
.navbar a:hover::after,
.navbar .home-active::after {
	width: 100%;
	transition: 0.2s;
    color: var(--hover-color);
}
.last {
    color: var(--text-color);
}
.last h2 {
    margin-top: 250px;
    margin-left: -40px;
    padding-left: 50px;
}
.footer {
    background: var(--main-color);
    color: var(--text-color);
    margin-top: 250px;
    font-family: 'Poppins' sans-serif;
}
footer {
    opacity: 0.75;
    font-size: 20px;
    text-align: center;
}
h1 {
    color: var(--main-color);
    margin-top: 70px;
    margin-bottom: -50px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Poppins' sans-serif;
}
.img {
    border: 1px solid black;
    color: var(--text-color);
}
.imgg {
    border: 1px solid black;
    color: var(--text-color);
}
img {
    border-radius: 80px;
    width: 120px;
    height: 120px;
    margin-top: -40px;
}
#img1 {
    margin-top: 140px;
    margin-left: 100px;
}
#img2 {
    margin-top: -280px;
    margin-left: 480px;
    position: absolute;
}
.img p {
    margin-left: 30px;
    margin-top: 40px;
    font-size: 20px;
}
.img span {
    color: #ffb43a;
}
.imgg p {
    margin-top: -120px;
    margin-left: 420px;
    font-size: 20px;
}
.imgg span {
    color: #090;
}
.img span a {
    color: #ffb43a;
    text-decoration: none;
}
.imgg span a {
    text-decoration: none;
    color: #090;
}